body {
  background-color: bisque;
}

.img-container {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.footer {
    background-color: lightsalmon;
    color: darkgrey;
}
